<link rel="stylesheet" href="./m.css" role="debug"/>
<div class="daily today"><span>今天，4场比赛</span>
    <ul>
        <li class="ing" data-hasstat="">
            <table>
                <tbody>
                <tr>
                    <td>步行者</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>篮网</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine">进行中</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine video">腾讯</td>
                </tr>
                </tbody>
            </table>
            <ul class="nav">
                <li><a href="###" target="_blank">技术统计</a></li>
                <li><a href="###" target="_blank">赛程追踪</a></li>
                <li><a href="###" target="_blank">直播入口</a></li>
            </ul>
        </li>
        <li class="ed" data-hasstat="">
            <table>
                <tbody>
                <tr>
                    <td>老鹰</td>
                    <td class="score">95</td>
                </tr>
                <tr>
                    <td>活塞</td>
                    <td class="score">105</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine">结束</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine video">腾讯</td>
                </tr>
                </tbody>
            </table>
            <ul class="nav">
                <li><a href="###" target="_blank">技术统计</a></li>
                <li><a href="###" target="_blank">赛程追踪</a></li>
                <li><a href="###" target="_blank">直播入口</a></li>
            </ul>
        </li>
        <li class="ed" data-hasstat="">
            <table>
                <tbody>
                <tr>
                    <td>马刺</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>热火</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine">结束</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine video">腾讯</td>
                </tr>
                </tbody>
            </table>
            <ul class="nav">
                <li><a href="###" target="_blank">技术统计</a></li>
                <li><a href="###" target="_blank">赛程追踪</a></li>
                <li><a href="###" target="_blank">直播入口</a></li>
            </ul>
        </li>
        <li class="ed" data-hasstat="">
            <table>
                <tbody>
                <tr>
                    <td>勇士</td>
                    <td class="score">110</td>
                </tr>
                <tr>
                    <td>快船</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine">结束</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine video">腾讯</td>
                </tr>
                </tbody>
            </table>
            <ul class="nav">
                <li><a href="###" target="_blank">技术统计</a></li>
                <li><a href="###" target="_blank">赛程追踪</a></li>
                <li><a href="###" target="_blank">直播入口</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="daily"><span>星期四，4月2日，12场比赛</span>
    <ul>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>步行者</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>篮网</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>老鹰</td>
                    <td class="score">95</td>
                </tr>
                <tr>
                    <td>活塞</td>
                    <td class="score">105</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>马刺</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>热火</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>勇士</td>
                    <td class="score">110</td>
                </tr>
                <tr>
                    <td>快船</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
<div class="daily"><span>星期四，4月2日，12场比赛</span>
    <ul>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>步行者</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>篮网</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>老鹰</td>
                    <td class="score">95</td>
                </tr>
                <tr>
                    <td>活塞</td>
                    <td class="score">105</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>马刺</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>热火</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>勇士</td>
                    <td class="score">110</td>
                </tr>
                <tr>
                    <td>快船</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
<div class="daily"><span>星期四，4月2日，12场比赛</span>
    <ul>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>步行者</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>篮网</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>老鹰</td>
                    <td class="score">95</td>
                </tr>
                <tr>
                    <td>活塞</td>
                    <td class="score">105</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>马刺</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>热火</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>勇士</td>
                    <td class="score">110</td>
                </tr>
                <tr>
                    <td>快船</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
<div class="daily"><span>星期四，4月2日，12场比赛</span>
    <ul>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>步行者</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>篮网</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>老鹰</td>
                    <td class="score">95</td>
                </tr>
                <tr>
                    <td>活塞</td>
                    <td class="score">105</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>马刺</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>热火</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>步行者</td>
                    <td class="score">106</td>
                </tr>
                <tr>
                    <td>篮网</td>
                    <td class="score">111</td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                <tr>
                    <td colspan="2" class="combine"></td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
