<link rel="stylesheet" href="./m.css">
<div id="mod-data">
    <div class="mod-data-title">
        <div class="text">数据王</div>
        <div class="season">
            <span class="cur">每日</span>
            <span>赛季</span>
        </div>
    </div>
    <div class="mod-data-wrap cur">
        <div class="mod-data-tab">
            <span class="cur">得分</span>
            <span>篮板</span>
            <span>助攻</span>
            <span>盖帽</span>
            <span>抢断</span>
        </div>
        <div class="mod-data-rank cur">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="mod-data-wrap">
        <div class="mod-data-tab m">
            <span class="cur">场均得分</span>
            <span>场均篮板</span>
            <span>场均助攻</span>
            <span>场均盖帽</span>
            <span>场均抢断</span>
            <span>三分%</span>
            <span>%</span>
            <span>罚球%</span>
        </div>
        <div class="mod-data-rank cur">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
        <div class="mod-data-rank">
            <div class="first">
                <div class="img"><img src="images/2037.png" /></div>
                <div class="info">
                    <span class="rank">1</span>
                    <span class="player">吉米<br />巴特勒</span>
                    <span class="duty">后卫-前锋/公牛</span>
                    <span class="num">31</span>
                </div>
                <div class="team"><img src="images/LAC_logo.svg" /></div>
            </div>
            <div class="headline">
                <span class="rank">排名</span>
                <span class="player">球员</span>
            </div>
            <ul>
                <li>
                    <span class="rank">2</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">3</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span class="img"><img src="images/202681.png" /></span>
                    <span class="player"><a href="#">吉米-巴特勒</a>后卫-前锋 / 公牛</span>
                    <span class="num">31</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="mod-data-more"><a href="#">查看更多</a></div>
</div>
