<link href="m.css" rel="stylesheet" type="text/css">
<div id="schedule">
    <div class="schedule-head">
        <a href="javascript:;" class="left-btn">
            <i></i>
        </a>
        <div class="schedule-title">
            <p class="titleCurrent">4月20日星期一(4场比赛)</p>

            <p>4月21日星期二(4场比赛)</p>

            <p>4月22日星期三(4场比赛)</p>

            <p>4月23日星期四(4场比赛)</p>
        </div>
        <a href="javascript:;" class="right-btn">
            <i></i>
        </a>
    </div>
    <div class="schedule-content teamCurrent">
        <ul>
            <li>
                <div class="game-head">
                    <p>第4节-05:00</p>
                    <span>重庆卫视 1</span>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/ATL_68x44.png">
                        <span>开拓者</span>
                        <em>177</em>
                    </p>
                    <p>
                        <img src="images/ATL_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>
            <li class="live">
                <div class="game-head">
                    <p>第4节-05:00</p>
                    <span>重庆卫视 1</span>
                </div>
                <div class="game-content">
                    <p class="item-team">
                        <img src="images/ATL_68x44.png">
                        <span>马刺</span>
                    </p>
                    <strong>VS</strong>
                    <p class="item-team">
                        <a href=""> <img src="images/ATL_68x44.png"></a>
                        <span>马刺</span>
                    </p>
                </div>
            </li>
            <li class="end">
                <div class="game-head">
                    <p>结束</p>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/ATL_68x44.png">
                        <span>开拓者</span>
                        <em class="game-win">177</em>
                    </p>
                    <p>
                        <img src="images/ATL_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>
            <li class="end">
                <div class="game-head">
                    <p>结束</p>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/ATL_68x44.png">
                        <span>开拓者</span>
                        <em class="game-win">177</em>
                    </p>
                    <p>
                        <img src="images/ATL_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>

        </ul>
    </div>
    <div class="schedule-content">
        <ul>
            <li>
                <div class="game-head">
                    <p>第4节-05:00</p>
                    <span>重庆卫视 1</span>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/GSW_68x44.png">
                        <span>开拓者</span>
                        <em>177</em>
                    </p>
                    <p>
                        <img src="images/GSW_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>
            <li class="live">
                <div class="game-head">
                    <p>第4节-05:00</p>
                    <span>重庆卫视 1</span>
                </div>
                <div class="game-content">
                    <p class="item-team">
                        <img src="images/GSW_68x44.png">
                        <span>马刺</span>
                    </p>
                    <strong>VS</strong>
                    <p class="item-team">
                        <a href=""> <img src="images/GSW_68x44.png"></a>
                        <span>马刺</span>
                    </p>
                </div>
            </li>
            <li class="end">
                <div class="game-head">
                    <p>结束</p>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/GSW_68x44.png">
                        <span>开拓者</span>
                        <em class="game-win">177</em>
                    </p>
                    <p>
                        <img src="images/GSW_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>
            <li class="end">
                <div class="game-head">
                    <p>结束</p>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/GSW_68x44.png">
                        <span>开拓者</span>
                        <em class="game-win">177</em>
                    </p>
                    <p>
                        <img src="images/GSW_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>

        </ul>
    </div>
    <div class="schedule-content">
        <ul>
            <li>
                <div class="game-head">
                    <p>第4节-05:00</p>
                    <span>重庆卫视 1</span>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/MEM_68x44.png">
                        <span>开拓者</span>
                        <em>177</em>
                    </p>
                    <p>
                        <img src="images/MEM_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>
            <li class="live">
                <div class="game-head">
                    <p>第4节-05:00</p>
                    <span>重庆卫视 1</span>
                </div>
                <div class="game-content">
                    <p class="item-team">
                        <img src="images/MEM_68x44.png">
                        <span>马刺</span>
                    </p>
                    <strong>VS</strong>
                    <p class="item-team">
                        <a href=""> <img src="images/MEM_68x44.png"></a>
                        <span>马刺</span>
                    </p>
                </div>
            </li>
            <li class="end">
                <div class="game-head">
                    <p>结束</p>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/MEM_68x44.png">
                        <span>开拓者</span>
                        <em class="game-win">177</em>
                    </p>
                    <p>
                        <img src="images/MEM_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>
            <li class="end">
                <div class="game-head">
                    <p>结束</p>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/MEM_68x44.png">
                        <span>开拓者</span>
                        <em class="game-win">177</em>
                    </p>
                    <p>
                        <img src="images/MEM_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>

        </ul>
    </div>
    <div class="schedule-content">
        <ul>
            <li>
                <div class="game-head">
                    <p>第4节-05:00</p>
                    <span>重庆卫视 1</span>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/WAS_68x44.png">
                        <span>开拓者</span>
                        <em>177</em>
                    </p>
                    <p>
                        <img src="images/WAS_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>
            <li class="live">
                <div class="game-head">
                    <p>第4节-05:00</p>
                    <span>重庆卫视 1</span>
                </div>
                <div class="game-content">
                    <p class="item-team">
                        <img src="images/WAS_68x44.png">
                        <span>马刺</span>
                    </p>
                    <strong>VS</strong>
                    <p class="item-team">
                        <a href=""> <img src="images/WAS_68x44.png"></a>
                        <span>马刺</span>
                    </p>
                </div>
            </li>
            <li class="end">
                <div class="game-head">
                    <p>结束</p>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/WAS_68x44.png">
                        <span>开拓者</span>
                        <em class="game-win">177</em>
                    </p>
                    <p>
                        <img src="images/WAS_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>
            <li class="end">
                <div class="game-head">
                    <p>结束</p>
                </div>
                <div class="game-content">
                    <p>
                        <img src="images/WAS_68x44.png">
                        <span>开拓者</span>
                        <em class="game-win">177</em>
                    </p>
                    <p>
                        <img src="images/WAS_68x44.png">
                        <span>开拓者</span>
                        <em>77</em>
                    </p>
                </div>
            </li>

        </ul>
    </div>
</div>
<script type="text/javascript">
    var slideTitle = {
        init: function () {
            this.s = 0;
            this.dom = this.getDom();
            this.bind();
        },
        bind: function () {
            var _this = this;

            this.dom.leftBtn.on('tap', function () {
                if (_this.s == 0) {
                    _this.dom.leftBtn.css('background-color', '#9e9e9e');
                    return false;
                } else {
                    _this.dom.leftBtn.css('background-color', '#2a6cb6');
                    _this.dom.rightBtn.css('background-color', '#2a6cb6');
                }
                _this.s--;
                _this.goto(_this.s);
            });
            this.dom.rightBtn.on('tap', function () {
                if (_this.s == _this.dom.sliderTitle.length - 1) {
                    _this.dom.rightBtn.css('background-color', '#9e9e9e');
                    return false;
                } else {
                    _this.dom.rightBtn.css('background-color', '#2a6cb6');
                    _this.dom.leftBtn.css('background-color', '#2a6cb6');
                }
                _this.s++;
                _this.goto(_this.s);
            });
        },
        goto: function (s) {
            this.dom.sliderTitle.eq(s).addClass('titleCurrent').siblings().removeClass('titleCurrent');
            this.dom.sliderBox.eq(s).addClass('teamCurrent').siblings().removeClass('teamCurrent');
        },
        getDom: function () {
            return {
                sliderTitle: $('.schedule-title p'),
                sliderBox: $('.schedule-content'),
                leftBtn: $('.left-btn'),
                rightBtn: $('.right-btn')
            }
        }
    };

    slideTitle.init();

</script>
