<% for (var i =0; i<200; i++){%>
<div class="new-posi">
    <div class="new">
        <a href="javascript:;" class="new-con">
            <h3 class="new-hd">库里虐过的巨星：神级变向晃保罗 47分爆科比 <%=i%></h3>
            <dl class="new-bd ch">
                <dt class="fl">
                    <span><img src="./new-img.png"/></span>
                    <em class="video icon"></em>
                </dt>
                <dd class="fr txt-chart">
                    <p class="txt-con">
                        2013年4月13日，勇士客场对阵湖人，库里一个人就狂轰47分6篮板9助攻3抢断，科比虽然也拿到了34分2013年4月13日，勇士客场对阵湖人，库里一个人就狂轰47分6篮板9助攻3抢断，科比虽然也拿到了34分，但在库里面前
                    </p>
                </dd>
            </dl>
        </a>

        <p class="new-ft">
            <span class="fl">今天 14：12</span>
            <a href="javascript:;" class="fr gary">评论（281）</a>
        </p>
    </div>
</div>
<%}%>
