/* header */
.header {
    height: 196px;
    width: 100%;
    background: #1a477b;
}

.header-main {
    position: relative;
    height: 136px;
    z-index: 30;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.header .wrap .logo {
    width: 400px;
    height: 136px;
}

.header .wrap .logo .logo-img {
    width: 41px;
    height: 90px;
    position: absolute;
    top: 30px;
    left: 0;
}

.header .wrap .logo .logo-img a {
    display: block;
    height: 100%;
    width: 100%;
    background: url(./images/logo_nba.png) 0 0 no-repeat;
    text-indent: -9999em;
}

.header .wrap .logo .logo-site {
    width: 320px;
    height: 50px;
}

.header .wrap .logo .logo-site a {
    display: block;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}

.header .wrap .logo .logo-txt-wrap {
    padding-top: 22px;
    padding-left: 60px;
}

.header .wrap .logo .logo-txt-wrap .logo-link {
    margin-top: 5px;
    width: 300px;
    height: 20px;
}

.header .wrap .logo .logo-txt-wrap .logo-link a {
    font-size: 18px;
    color: #bdc3cd;
}

.header .wrap .logo .logo-txt-wrap .logo-link a.english-site {
    margin-left: 20px;
    background: url(./images/split-line.png) 6px 3px no-repeat;
    padding-left: 20px;
}

.header .wrap .logo .logo-txt-wrap .logo-link a:hover {
    text-decoration: underline;
}

/* 顶部链接开始 */
.top-nav {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 12px;
    font-family: '宋体', 'Microsoft YaHei', 'Arial', '微软雅黑', 'SimSun';
    color: #fff;
}

.top-nav .login{
    color: #fff;
}


/* 顶部链接结束 */

/* NBA商店开始 */
.dropdown-list-btn {
    position: absolute;
    top: 68px;
    right: 0;
    width: 140px;
    height: 33px;
    clear: both;
    cursor: pointer;
    background: #ffffff url(./images/logo_shop.png?#unsprite) no-repeat;
    box-shadow: 0px 1px 1px #000000;
    -webkit-box-shadow: 0px 1px 1px #000000;
    -moz-box-shadow: 0px 1px 1px #000000;
    -ms-box-shadow: 0px 1px 1px #000000;
}

.dropdown-list-btn ul {
    display: none;
    position: absolute;
    z-index: 3;
    top: 33px;
}

.dropdown-list-btn ul li {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #2a6cb6;
    border-bottom: 1px solid #2560a2;
}

.dropdown-list-btn ul li.store-hover {
    background: #1d5ba3;
}

.dropdown-list-btn ul li a {
    color: #fff;
    font-size: 18px;
}

.dropdown-list-btn ul li.store-hover a {
    color: #fff;
}

.dropdown-list-btn .dropdown-arrow {
    position: absolute;
    width: 16px;
    height: 10px;
    top: 12px;
    right: 2px;
    background: #ffffff url(./images/triangle_down.png) 0 0 no-repeat;
}

.dropdown-list-btn .dropup-arrow {
    background: #ffffff url(./images/triangle_up.png) 0 0 no-repeat;
}

/* NBA商店结束 */

/* 导航菜单 */
.nav {
    height: 60px;
    width: 100%;
    background: #1e518c;
}

.nav .nav-menu {
    height: 60px;
}

.nav ul li {
    width: 75px;
    height: 60px;
    line-height: 60px;
    float: left;
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 10;
}

.nav ul li.cur {
    background: #2a6cb6;
}

.nav ul li.cur a {
    color: #fff;
}

.nav ul li a {
    display: block;
    font-size: 18px;
    color: #fff;
}

.nav ul li .second-wrap {
    display: none;
    position: absolute;
    width: 110px;
    z-index: 2;
    top: 56px;
    left: 0;
    white-space: nowrap;
    background: #2a6cb6;
    z-index: 2000;
}

.nav ul li .nab-team {
    width: 726px;
}

.nav ul li.cur .second-wrap {
    display: block;
}

.nav ul li .second-wrap .senond-item {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #2560a2;
}

.nav ul li .second-wrap .nav-hover {
    background: #1d5ba3;
}

.nav ul li .second-wrap .senond-item a {
    font-size: 18px;
    color: #fff;
}

.team-list {
    table-layout: fixed;
    line-height: initial;
}

.team-list th {
    height: 40px;
    padding-left: 20px;
    font-size: 14px;
    text-align: left;
}

.team-list th.team-area {
    font-size: 16px;
}

.team-list td {
    height: 55px;
    font-size: 14px;
    text-align: left;
}

.team-list td.team-hover {
    background: #1d5ba3;
}

.nav ul li .team-list td a {
    display: block;
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-indent: 60px;
    font-size: 14px;
}

.team-list td a {
    background: url(./images/teamlogo-small.png) no-repeat;
}
.team-list td a.small-celtics {
    background-position: 0 -6px;
}
.team-list td a.small-nets {
    background-position: 0 -60px;
}
.team-list td a.small-knicks {
    background-position: 0 -116px;
}
.team-list td a.small-s76ers {
    background-position: 0 -172px;
}
.team-list td a.small-raptors {
    background-position: 0 -228px;
}
.team-list td a.small-bulls {
    background-position: 0 -284px;
}
.team-list td a.small-cavaliers {
    background-position: 0 -338px;
}
.team-list td a.small-pistons {
    background-position: 0 -392px;
}
.team-list td a.small-pacers {
    background-position: 0 -448px;
}
.team-list td a.small-bucks {
    background-position: 0 -500px;
}
.team-list td a.small-hawks {
    background-position: 0 -558px;
}
.team-list td a.small-hornets {
    background-position: 0 -612px;
}
.team-list td a.small-heat {
    background-position: 0 -668px;
}
.team-list td a.small-magic {
    background-position: 0 -722px;
}
.team-list td a.small-wizards {
    background-position: 0 -778px;
}
.team-list td a.small-nuggets {
    background-position: 0 -840px;
}
.team-list td a.small-timber_wolves {
    background-position: 0 -890px;
}
.team-list td a.small-thunder {
    background-position: 0 -940px;
}
.team-list td a.small-trail_blazers {
    background-position: 0 -996px;
}
.team-list td a.small-jazz {
    background-position: 0 -1052px;
}
.team-list td a.small-warriors {
    background-position: 0 -1106px;
}
.team-list td a.small-clippers {
    background-position: 0 -1162px;
}
.team-list td a.small-lakers {
    background-position: 0 -1218px;
}
.team-list td a.small-suns {
    background-position: 0 -1274px;
}
.team-list td a.small-kings {
    background-position: 0 -1328px;
}
.team-list td a.small-mavericks {
    background-position: 0 -1386px;
}
.team-list td a.small-rockets {
    background-position: 0 -1436px;
}
.team-list td a.small-grizzlies {
    background-position: 0 -1492px;
}
.team-list td a.small-pelicans {
    background-position: 0 -1548px;
}
.team-list td a.small-spurs {
    background-position: 0 -1602px;
}
/* 导航菜单 */

/* header End */
