.sched {
    width: 1000px;
    height: 150px;
    margin-top: 20px;
    overflow: hidden;
    background: url('./images/bg_sched.png') repeat;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #cbcbcb;
    box-shadow: 0px 3px 7px #ADADAD;
    -moz-box-shadow: 0px 3px 7px #ADADAD;
    -ms-box-shadow: 0px 3px 7px #ADADAD;
    -webkit-box-shadow: 0px 3px 7px #ADADAD;
    font-size: 14px;
}

.sched a {
    outline: none;
    text-decoration: none;
}

.sched img {
    outline: none;
}

.sched .btn-left {
    float: left;
    display: inline-block;
    width: 40px;
    height: 150px;
    background: url('./images/arrow_left.png') no-repeat center 60px;
    outline: none;
}

.sched .btn-left:hover {
    background: url('./images/arrow_left_h.png') no-repeat center 60px;
}

.sched .btn-left:active {
    background: url('./images/arrow_left.png') no-repeat center 60px;
}

.sched .btn-left-disabled {
    float: left;
    display: inline-block;
    width: 40px;
    height: 150px;
    background: url('./images/arrow_left.png') no-repeat center 60px;
    outline: none;
    cursor: default;
}

.sched .btn-right {
    float: right;
    display: inline-block;
    width: 40px;
    height: 150px;
    background: url('./images/arrow_right.png') no-repeat center 60px;
    outline: none;
}

.sched .btn-right:hover {
    background: url('./images/arrow_right_h.png') no-repeat center 60px;
}

.sched .btn-right:active {
    background: url('./images/arrow_right.png') no-repeat center 60px;
}

.sched .btn-right-disabled {
    float: right;
    display: inline-block;
    width: 40px;
    height: 150px;
    background: url('./images/arrow_right.png') no-repeat center 60px;
    outline: none;
    cursor: default;
}

.sched .scroll-wrapper {
    position: relative;
    width: 920px;
    _width: 914px;
    height: 150px;
    _left: -3px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.sched .scroll-inner {
    position: absolute;
    width: 3000px;
}

.sched .scroll-inner span {
    padding-left: 5px;
    _padding-left: 10px;
    line-height: 35px;
    color: #2a6cb6;
}

.sched .daily {
    float: left;
    height: 150px;
    _margin-left: -3px;
}

.sched .today {
    margin-left: -5px;
}

.sched ul {
    list-style-type: none;
}

.sched li {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    border-top: solid 3px #7a7a7a;
    background-color: #f6f6f6;
    overflow: hidden;
}

.sched li.ing {
    border-top-color: #a90b33;
}

.sched li.ed {
    border-top-color: #1e518c;
}

.sched table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100px;
    height: 80px;
    margin-top: 10px;
}

.sched tr {
    width: 50px;
    height: 20px;
    padding: 0;
}

.sched td {
    padding: 0 3px;
    text-align: left;
}

.sched td.score {
    text-align: right;
}

.sched td.video {
    color: #2a6cb6;
}

.sched .combine {
    text-align: center;
}

.sched .nav {
    margin-top: 10px;
}

.sched .nav a {
    text-decoration: none;
    color: #2a6cb6;
}

.sched .nav a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.sched .nav li {
    float: none;
    height: 25px;
    margin: 0 auto;
    border: none;
    text-align: center;
    line-height: 25px;;
}
