body {

}
/* header */
.header {
    height: 196px;
    width: 100%;
    background: #1a477b;
}

.header-main {
    position: relative;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
}

.header .wrap .logo {
    width: 400px;
    height: 136px;
}
.header .wrap .logo .logo-img {
    width: 41px;
    height: 90px;
    position: absolute;
    top: 30px;
    left: 0;
}
.header .wrap .logo .logo-img a {
    display: block;
    height: 100%;
    width: 100%;
    background: url(./images/logo_nba.png) no-repeat;
    text-indent: -9999em;
}
.header .wrap .logo .logo-site {
    width: 309px;
    height: 38px;
}
.header .wrap .logo .logo-site a {
    display: block;
    /*height: 100%;*/
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}
.header .wrap .logo .logo-txt-wrap {
    height: 100px;
    width: 46px;
    padding-top: 22px;
    padding-left: 60px;
}
.header .wrap .logo .logo-txt-wrap .logo-link {
    margin-top: 15px;
    width: 300px;
    height: 20px;
}
.header .wrap .logo .logo-txt-wrap .logo-link a {
    font-size: 18px;
    color: #bdc3cd;
}
.header .wrap .logo .logo-txt-wrap .logo-link a.english-site {
    margin-left: 20px;
}
.header .wrap .logo .logo-txt-wrap .logo-link a:hover {
    text-decoration: underline;
}
.top-nav {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 12px;
    font-family: '宋体', 'Microsoft YaHei', 'Arial', '微软雅黑', 'SimSun';
    color: #fff;
}
.top-nav a,
.top-nav span {
    vertical-align: middle;
}
.top-nav a {
    color: #fff;
    display: inline-block;
    height: 21px;
    text-indent: 37px;
    background: url(./images/logo_bbs.png) no-repeat;
}
.top-nav span {
    color: #bdc3cd;
}
.dropdown-list-btn {
    position: absolute;
    top: 68px;
    right: 0;
    width: 140px;
    height: 33px;
    background-color: green;
    clear: both;
    background: #ffffff url(./images/logo_shop.png) 4px no-repeat;
    box-shadow: 0px 1px 1px #000000;
}

.dropdown-list-btn ul {
    display: none;
    position: absolute;
    top: 33px;
}

.dropdown-list-btn ul li {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3473b9;
    opacity: 0.9;
    border-bottom: 1px solid #2560a2;
}
.dropdown-list-btn ul li.store-hover {
    background: #1d5ba3;
}
.dropdown-list-btn ul li a {
    color: #fff;
    font-size: 18px;
}
.dropdown-list-btn .dropdown-arrow {
    position: absolute;
    width: 16px;
    height: 10px;
    top: 12px;
    right: 2px;
    background: #ffffff url(./images/triangle_down.png) no-repeat;
}
.dropdown-list-btn .dropup-arrow {
    background: #ffffff url(./images/triangle_up.png) no-repeat;
}

.nav {
    background: #1e518c;
    height: 60px;
    line-height: 60px;
}

.nav ul li {
    width: 75px;
    float: left;
    position: relative;
    text-align: center;
    color: #fff;
}
.nav ul li.cur {
    background: #2a6cb6;
}
.nav ul li a {
    font-size: 18px;
    color: #fff;
}

.nav ul li .second-wrap {
    display: none;
    position: absolute;
    top: 56px;
    left: 0;
    white-space: nowrap;
    background: #3473b9;
    opacity: 0.9;
}
.nav ul li.cur .second-wrap {
    display: block;
}
.nav ul li .second-wrap .senond-item {
    border-bottom: 1px solid #2560a2;
}
.nav ul li .second-wrap .nav-hover {
    background: #1d5ba3;
}
.nav ul li .second-wrap .senond-item a {
    font-size: 18px;
    color: #fff;
}
/* header End */

