/* main-content */
.main-content {
    height: 166px;
    width: 100%;
    background: url(./images/bg.jpg) center top no-repeat;
}


.chief {
    border: 2px solid green;
    float: left;
    display: inline;
    width: 580px;
}
.extra {
    border: 2px solid orange;
    float: right;
    display: inline;
    width: 390px;
}
/* main-content End */