<link rel="stylesheet" href="./m.css">
<div id="news" class="news-layout">
    <ul class="news-list">
        <li class="news-pic-txt">
            <dl>
                <dt class="news-img"><img src="images/news-img.png"></dt>
                <dd class="news-text"><p class="news-hd">库总强调湖人重建靠交易和选秀 不会效仿76人</p>
                    <p class="news-bd">
                        <time class="news-time">5分钟前</time>
                        <span class="news-num">480</span>
                    </p></dd>
            </dl>
        </li>
        <li class="news-pic">
            <dl>
                <dt class="big-news-img"><img src="images/big-news-img.png"></dt>
                <dd class="news-text">
                    <p class="news-hd">【季后赛】骑士99-91凯尔特人<span class="match-icon">18</span></p>
                    <p class="news-bd">
                        <time class="news-time">5分钟前</time>
                        <span class="news-num">480</span>
                    </p>
                </dd>
            </dl>
        </li>
        <li class="news-adv">
            <p><img src="images/news-adv.png"></p>
        </li>
        <li class="news-pic-txt-video">
            <dl>
                <dt class="news-img">
                    <img src="images/news-img.png">
                    <em class="news-video"></em>
                    <span class="video-duration">02:30</span>
                </dt>
                <dd class="news-text">
                    <p class="news-hd">科比：领袖是孤独的 名宿沙曼指引我最初方向</p>
                    <p class="news-bd">
                        <time class="news-time">5分钟前</time>
                        <span class="news-num">480</span>
                    </p>
                </dd>
            </dl>
        </li>
    </ul>
    <div class="load">
        <a href="javascript:;"><img src="images/load-icon.png"></a>
    </div>
</div>
